@charset "utf-8";
/* CSS Document */
body {
	background-color: #D7D7D7;
}
.navigation {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #D7D7D7;
	box-shadow: 5px 5px 3px #888888;
	height: 24px;
	width: 24px;
	cursor: pointer;
}

h1 {
	font-size: 24px;
}

header h1 {
	font-family: "Open Sans";
	font-size: 30px;
	text-shadow: 1px 2px black;
	margin: 0 1em 0 0;
	color: #ffffff;
	-webkit-flex: 1 0 auto;
	-webkit-text-stroke: 1px #9D9D9D;
}

#container {
	float: left;
	height: auto;
	width: 80%;
	padding: 0px;
	margin-top: 15px;
	margin-right: 10%;
	margin-bottom: 15px;
	margin-left: 10%;
	
}

#container header{
	height: 50px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;	
}

#path {
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	min-height: 40px;
	width: 100%
	overflow: auto;
}

#top {
	height: 45px;
	background-color: #369;
	padding: 5px;
}
#path_field {
	width: 600px;
	padding: 5px;
	border: 2px solid;
	border-radius: 15px;
	-webkit-border-radius: 5px;
	margin: 3px;
}

#search_field {
	width: 200px;
	padding: 5px;
	border: 2px solid;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	margin: 3px;
}

#exploer_container {
	height: 600px;
	width: 100%;

	margin: 5px;
}
#exploer {
	background-color: ;
	min-height: 600px;
	width: 100%;
	background-color:#eeeeee;
	background: -webkit-linear-gradient(#fff 80%, #eee);
	border: 1px solid #eee;
	border-radius: 7px;
	box-shadow: 0 -2px 3px #ddd inset, 0 2px 3px #ddd inset;
	overflow: hidden;
	box-shadow: 5px 5px 3px #A0A0A0;
}
#exploer_left {
	min-height: 600px;
	width: 18%;
	float: left;
	overflow-y: auto;
	margin-right: 10px;
	border-radius: 7px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A8A8A8;
	background-color: #9CDEDE;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

summary::-webkit-details-marker {
  display: none
}
#quick_access {
	width: auto;
	overflow: auto;
}


details summary::before {
  background: url(../src/qa_right.png);
  float: left; 
  height: 20px;
  width: 20px;
  content: " ";
}

details[open] > summary::before {
  background: url(../src/qa_down.png);
}

#exploer_left a:link{
	color: #000;
	text-decoration: none;
	font-size: 16px;
}

#exploer_left a:visited{
	color: #000;
	text-decoration: none;
	font-size: 16px;
}

#exploer_left a:hover{
	color: #000;
	text-decoration: none;
	font-size: 16px;
}

#exploer_right {
	min-height: 600px;
	min-width: 78%;
	float: left;
	background-color:transparent;
	overflow-y: auto;
	overflow-x: hidden;
}

#exploer_right header{
	padding-right: 5px;
	text-align: right;
}

#exploer_right a:link{
	color: #000;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}

#exploer_right a:visited{
	color: #000;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}

#exploer_right a:hover{
	color: #000;
	text-decoration: underline;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}

#exploer header{
	height: 25px;
	width: 100%;
	float: left;
}
